body{
    background-color: #5c5985;
}

h2{
    font-family: 'Comic Neue', cursive;
    margin-top: 10px;
    color: #f0ba4f;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#maze{
    display: grid;
    grid-template-columns: repeat(16, 39px);
    grid-template-rows: repeat(16, 39px);
    
}


#maze button{
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    background-color:#dbdbdb;
    color: #dbdbdb;
    border: 0;
    cursor: pointer;
    font-size: 10px;
    font-weight: boldW;
}

button:focus {outline:0;}